<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Book Details</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/book_details_style.css}">

</head>
<body>
<h2>Book Details</h2>
<div>
  <p>ID: <span th:text="${book.id}"></span></p>
  <p>Title: <span th:text="${book.title}"></span></p>
  <p>Author: <span th:text="${book.author}"></span></p>
  <p>Price: <span th:text="${book.price}"></span></p>
  <p>Details: <span th:text="${book.details}"></span></p>
  <p>Image:</p>
  <p><img th:src="${book.imageUrl}" alt="Book Image" width="300" height="200" class="rounded-image"></p>
  <a th:href="@{/}">Home</a>
</div>
</body>
</html>

